<!DOCTYPE HTML>

<html lang=”pt-br”>

<head>
  <meta charset=”UTF-8”>
  <title> SamuraiX </title>
</head>

<body>
 
<h2>Cadastro dos Personagens de Samurai X</h2> </br>

<form action="/samuraix/salvar" method="get">

Personagem: <input type="text" name="personagem"> <br>
Trabalho: <input type="text" name="trabalho"> <br>
Estilo: <input type="text" name="estilo"> <br>
Arma: <input typr="text" name="arma"> </br>

<br>

<input type="submit" value="Cadastrar">

</form>
 
</body>

</html>