<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset=”UTF-8”>
  <title> Listagem </title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>

<body>
 
<table class="table">

		<thead>
			<tr>
				<th scope="col">Codigo</th>
				<th scope="col">Personagem</th>
				<th scope="col">Estilo</th>
				<th scope="col">Arma</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each = "samuraix : ${listarSamuraix}">
				<td th:text="${samuraix.codigo}"></td>
				<td th:text="${samuraix.personagem}"></td>
				<td th:text="${samuraix.estilo}"></td>
				<td th:text="${{samuraix.arma}}"></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/samuraix/excluir/{codigo}(codigo = ${samuraix.codigo})}"> <button type="button" class="btn btn-danger">Excluir</button></a></td>
			</tr>
		</tbody>
		
	</table> 


<script src="/js/bootstrap.min.js"> </script>
</body>

</html>